<!DOCTYPE html>
<html>
<head>
    <title>Cumparaturi Documente</title>
    <meta charset = "UTF-8">
</head>
<body>
    <link rel="stylesheet" href="css/stil.css">

    <header>
        <h1>Cumparaturi Documente</h1>
    </header>

    <section id="main-section">
    <%-body%>
    </section>
</body>

</html>