    <nav>
    <div class = "nav_div">
    <a class= "nav_a" href="/">Acasa</a> 
    |
    <a class= "nav_a" href="/despre">Despre</a> 
    |
    <a class= "nav_a" href="/contact">Contact</a> 
    |
    <% if(creatDB) {%>
        <a class= "nav_a" href="/meniu">Meniu</a> 
    <% } else { %>
        <a class= "nav_a" href="/creare-db">Meniu</a>
    <% } %>
    </div>
    </nav>
<% if (username)  {%>
<p id="conectat">Sunteti conectat ca <%=fullname%>. 
    <a href="/deconectare">Deconectati-va.</a></p>
<% } else {%>
    <p>Nu esti autentificat. <a href="/autentificare">Autentifica-te!</a> </p>
<% } %>
    

<div id ="index_div">
<h2>Bine ai venit la pagina oficiala a pub-ului "Adio Sesiune"!</h2>
<p>Pe acest website vei putea afla mai multe despre noi, cum ar fi:</p>
<p>-o scurta prezentare despre infiintarea noastra si chiar planul de afaceri pentru cei curiosi!</p>
<p>-locatia si programul nostru de munca, inclusiv metode de contact</p>
<p>-meniul nostru de mancare si bauturi, cu optiunea de a comanda chiar de aici, daca sunteti logat!</p>
<p>     Va multumim pentru atentia oferita, si va invitam la noi un pub!</p>
</div>    



