<!DOCTYPE html>
<html>
<head>
    <title>Pubul "Adio sesiune"</title>
    <meta charset = "UTF-8">
</head>
<body>
    <link rel="stylesheet" href="css/stil.css">

    <header>
        <h1>Pubul "Adio sesiune"</h1>
    </header>
    <section id="main-section">
    <%-body%>
    </section>

    <script src="../js/scripturi.js"></script>
</body>

</html>